---
layout: default
is_post: true
---

<article class="article article--single">

  {% include blog/post/article.html %}

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-format="fluid"
       data-ad-layout-key="-ek+6c-5-bt+lw"
       data-ad-client="ca-pub-7039502723411845"
       data-ad-slot="3083255422"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

</article>

{% include post/sharing.html %}
{% include post/google_adsence.html %}

{% if site.disqus_short_name and page.comments == true %}
<section id="disqus">
    <h1 class="disqus__title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include blog/post/disqus_thread.html %}</div>
</section>
{% endif %}


{% include post/amazon.html %}
